username = ""
[urls]
base = "https://vircurex.com/api"
market-data = "get_info_for_currency.json"
get_balances = "get_balances.json"
get_balance = "get_balance.json"
read_orders = "read_orders.json"
read_order = "read_order.json"
create_order = "create_order.json"
read_orderexecutions = "read_orderexecutions.json"
delete_order = "delete_order.json"
[keys]
get_balance = ""
get_balances = ""
read_order = ""
read_orders = ""
delete_order = ""
release_order = ""
read_orderexecutions = ""
create_order = ""
