username = ""
[urls]
base = "https://vircurex.com/api"
market-data = "get_info_for_currency.json"
get_balances = "get_balances.json"
get_balance = "get_balance.json"
read_orders = "read_orders.json"
[keys]
get_balance = ""
get_balances = ""
read_order = ""
read_orders = ""
delete_order = ""
release_order = ""
read_order_executions = ""
create_order = ""
