username = ""
url = "https://vircurex.com/api"
[keys]
get_balance = ""
get_balances = ""
read_order = ""
read_orders = ""
delete_order = ""
release_order = ""
read_orderexecutions = ""
create_order = ""
